*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
ul{
    padding: 24px;
}
li.nav{
    display: inline;
    padding:0px 2px;
    margin: 0px 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 12px;
    padding: 2px 10px;

}
#right{
    float: right;
    border: none;
    list-style: none;
}
#right>input{
    border-radius: 20px;
    margin:0px 6px;
    padding: 2px 5px;
}
a:hover{
    font-weight: bold;
    background-color: white;
    color: black;
}
#navbar{
    background-color: blue;
    height: 60px;
    border-radius: 20px;  
}
.firstcont{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    
}
.container{
 display: flex;
 flex-direction: column;
 border: 5px solid rgb(219, 219, 255);
 background: linear-gradient(rgb(61, 15, 227),#01f4c0);
 font-size: 30px;
 /* height: fit-content; */
 width:400px;
 border-radius: 10px;
 text-align: center;
 align-items: center;
 justify-content: center;
 /* margin: 50px 20px; */
 /* margin-top: 30px; */
 /* margin-left:525px; */

}

#btn{
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px 5px;
    cursor: pointer;
}
h4 {
animation-name: example;
animation-duration: 2s;
position:relative;
letter-spacing: 3px;
font-family: cursive;
}
@keyframes example {
    0%{color: rgb(64, 255, 0);left:25px;top:0px}
    100%{color:greenyellow;right:25px;top:0px}
  }
body{
    background:#05022b;
}